@font-face {
    font-family: 'Canaro';
    src: local('Canaro Light'), local('Canaro-Light'),
        url('Canaro-Light.woff2') format('woff2'),
        url('Canaro-Light.woff') format('woff'),
        url('Canaro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }